<html>
<head>
    <meta charset="UTF-8">
    <link rel="import" href="StyleSettings.html">
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">
</head>
<body>
<footer>

    <div class="container-fluid mt-5 mb-4 text-center text-md-left" style="background: linear-gradient(90deg,#6700F3,#7300E1)">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-r blockFooter">
                <h6 class="title font-bold" id="asd"><strong>RITRED</strong></h6>
                <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p >Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r blockFooter">
                <h6 class="title font-bold"><strong>RELATOS</strong></h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Más populares</a></p>
                <p><a href="#!">Categorias</a></p>
                <p><a href="#!">Novedades</a></p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r blockFooter">
                <h6 class="title font-bold"><strong>MI CUENTA</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Mi cuenta</a></p>
                <p><a href="#!">Seguidores</a></p>
                <p><a href="#!">Mis relatos</a></p>
                <p><a href="#!">Ayuda</a></p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3 blockFooter" >
                <h6 class="title font-bold"><strong>CONTACTO</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fa fa-home mr-3"></i>www.ritred.com</p>
                <p><i class="fa fa-envelope mr-3"></i> ritred@contact.com</p>
            </div>
            <!--/.Fourth column-->

<div class="container-fluid" style="background-color:#343a40;min-height: 50px;">
  <div class="row"><div class="col text-center"> <a style="font-size: 20px;">
      <span style="color: #868e96">© 2017 Copyright:</span><span style="color: white"> Ritred.com</span></a></div></div>
</div>
        </div>
    </div>
</footer>

</body>

</html>