<link th:fragment="estiloNov" rel="stylesheet" type="text/css" href="/css/novedades.css">
<div class="container"  th:fragment="novFrag">
    <h1 style="border-bottom: 2px solid black">NOVEDADES</h1>
    <div class="row">
        <div class="col-lg-3"  th:each="relato : ${relatos}">
            <div class="container novedad" style="float:left;margin-right: 30px;margin-top: 8%;">
                <p>
                <div class="titulo"><b th:text="${relato.titulo}">asdasds</b></div>
                <br><i class="fa fa-user-circle" aria-hidden="true"></i> <b>Autor:</b> <span>Ejemplo</span>
                <br><i class="fa fa-tag" aria-hidden="true"></i> <b>Género: </b><span>Ejemplo</span>
                <br><i class="fa fa-rocket" aria-hidden="true"></i> <b>Sinopsis: </b><span>Esta obra presenta  la vida "gris" de una
    familia de condición muy modesta, la familia vive en un entresuelo de los suburbios de una ciudad cualquiera.Esta obra presenta
    la vida "gris" de una familia de condición muy modesta, la familia vive.
</span>
                <br><b>Puntuacion:</b><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                      aria-hidden="true"></i><i
                    class="fa fa-star" aria-hidden="true"></i>
            </div>

        </div>

    </div>
</div>

</body>
</html>